
<ion-pane>
	<div class="bar bar-header bar-stable">
	  <h1 class="title">Sign in</h1>
	</div>
	<div class="content has-header padding">
		<p>
			Welcome to the app. Please type in your invite number or scan the barcode.
		</p>
		<form class="list">
			<label class="item item-input">
				<input type="text" ng-model="inviteNumber" placeholder="Invite Number">
		  </label>

		  <button type="submit" class="button button-block button-positive" ng-disabled="!inviteNumber.length" ng-click="authenticate(inviteNumber)">
			  Enter
			</button>
			<button class="button button-block button-balanced" ng-click="scanBarcode()">
			  Scan Barcode
			</button>
			{{text}}
		</form>
	</div>
</ion-pane>